.blog-nota{
    width: 100%;
    padding: 4rem 0rem;
}
.banner-blog{
    width: 100%;
    height: 100%;
    /*min-height: 375px;*/
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
}
.banner-info {
    margin-top: 4rem;
}
.banner-info h1{
    font-size: 22px;
    font-weight: 500;
}
.banner-info h2{
    font-size: 20px;
    font-weight: 500;
}
.banner-info h3{
    font-size: 18px;
    font-weight: 500;
}
    
.banner-info p{
    font-size: 16px;
    font-weight: 400;
}
.banner-info a{
    color: #2874A6;
}

.blog-header-image{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    height: auto;
    min-height: 500px;
    max-height: 500px;
    width: 100%;
    object-fit: cover;
}



.box_code_nota{

}